* {
	padding: 2px;
}

window#waybar {
	background-color: #181825;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 3px #f38ba8 solid;
	border-top: 0px;
}

label.module {
	padding-right: 10px;
	padding-left: 10px;
}
